.container {
	position: absolute;
	left: calc(50% - calc(var(--elevator-width) / 2));
	width: var(--elevator-width);
	display: block;
	background-color: #767676;
	height: calc(var(--elevator-height) * calc(var(--floors) * 2));
	bottom: calc(var(--elevator-height) * -1);
	.elevator {
		width: var(--elevator-width);
		height: var(--elevator-height);
		border: var(--border);
		box-sizing: border-box;
		background-color: white;
		box-shadow: inset black 0px 4px 10px;
		display: flex;
		position: absolute;
		contain: content;
		top: calc(100% - calc(var(--elevator-height) * 2 * var(--floor-level)));
		transition: top 1s ease-in-out;
	
		.door {
			width: 50%;
			height: 100%;
			position: absolute;
			top: 0;
			background-color: #e3e3e3;
			background: url(https://media.istockphoto.com/photos/metal-texture-background-picture-id695750612?k=20&m=695750612&s=612x612&w=0&h=tofFpO9a-T5oKnBT6iNrOasGOQ715lHgkGR_B_BndPk=);
			background-size: cover;
	
			&:first-child {
				border-right: var(--border);
				left: 0;
			}
	
			&:last-child {
				border-left: var(--border);
				right: 0;
			}
		}
	
		&--open {
			& > .door {
				&:first-child {
					left: -100%;
				}
	
				&:last-child {
					right: -100%;
				}
			}
		}
	}
}

